.Rproj.user
.Rhistory
.RData
.Ruserdata
onderzoek/boostTCPClient/.vs/boostTCPClient/v16/ipch/AutoPCH/58871fc09d46aa24/SOURCE.ipch
onderzoek/boostTCPClient/.vs/boostTCPClient/v16/Browse.VC.db
onderzoek/boost/.vs/boost/v16/ipch/AutoPCH/f8cd0c807b62f9c3/TCPCLIENT.ipch
onderzoek/boost/.vs/boost/v16/ipch/AutoPCH/503c88de2b697edf/TCPSERVER.ipch
onderzoek/boost/.vs/boost/v16/ipch/AutoPCH/20cc7b4bd77af57e/SOURCE.ipch
onderzoek/boost/.vs/boost/v16/ipch/AutoPCH/184347267e0da1aa/SYNCTCPSERVER.ipch
onderzoek/boost/.vs/boost/v16/Browse.VC.db
onderzoek/boost/.vs/boost/v16/.suo
