.Rproj.user
.Rhistory
.RData
.Ruserdata
onderzoek/boostTCPClient/.vs/boostTCPClient/v16/ipch/AutoPCH/58871fc09d46aa24/SOURCE.ipch
onderzoek/boostTCPClient/.vs/boostTCPClient/v16/Browse.VC.db
onderzoek/boost/.vs/boost/v16/ipch/AutoPCH/f8cd0c807b62f9c3/TCPCLIENT.ipch
onderzoek/boost/.vs/boost/v16/ipch/AutoPCH/503c88de2b697edf/TCPSERVER.ipch
onderzoek/boost/.vs/boost/v16/ipch/AutoPCH/20cc7b4bd77af57e/SOURCE.ipch
onderzoek/boost/.vs/boost/v16/ipch/AutoPCH/184347267e0da1aa/SYNCTCPSERVER.ipch
onderzoek/boost/.vs/boost/v16/Browse.VC.db
onderzoek/boost/.vs/boost/v16/.suo
onderzoek/ChatApp/.vs/ChatApp/v16/Browse.VC.db
onderzoek/ChatApp/.vs/ChatApp/v16/ipch/AutoPCH/ff39ccea96936155/CHAT_SERVER.ipch
onderzoek/ChatApp/.vs/ChatApp/v16/ipch/AutoPCH/3ba390f6d5d4aad9/CHAT_CLIENT.ipch
onderzoek/ChatApp/.vs/ChatApp/v16/Browse.VC.opendb
onderzoek/boost/.vs/boost/v16/ipch/AutoPCH/cdbca9b4d8b6737/TCP_CLIENT.ipch
onderzoek/boost/.vs/boost/v16/ipch/AutoPCH/49f69af4dc113a06/TCPCLIENT.ipch
onderzoek/boost/.vs/boost/v16/ipch/AutoPCH/a95fb125c39a8259/SOURCE.ipch
onderzoek/ChatApp/.vs/ChatApp/v16/ipch/AutoPCH/7b89b47a933a9852/TCP_SERVER_ASYNC.ipch
onderzoek/ChatApp/.vs/ChatApp/v16/ipch/AutoPCH/57f521a321c30a18/CHAT_SERVER.ipch
onderzoek/ChatApp/.vs/ChatApp/v16/ipch/AutoPCH/57bf471857b3b3ec/CHAT_CLIENT.ipch
onderzoek/ChatApp/.vs/ChatApp/v16/ipch/AutoPCH/558f460f63ef47a5/TCP_ECHO_CLIENT.ipch
onderzoek/ChatApp/.vs/ChatApp/v16/ipch/AutoPCH/e535e0813dca7e63/SOURCE.ipch
*.ipch
